{{ define "main" }}

<h1>{{ .Title }}</h1>

{{ with .Params.featured_image }}
  <figure class="accession-figure">
    <img 
      src="{{ . }}" 
      alt="{{ $.Title }}" 
      class="accession-image"
    >

    {{ with $.Params.featured_image_caption }}
      <figcaption class="accession-caption">
        {{ . }}
      </figcaption>
    {{ end }}
  </figure>
{{ end }}

<div class="accession-meta-wrapper">

  <div class="accession-meta-grid">

    {{ with .Params.accession_id }}
    <div>
      <strong>Accession ID</strong><br>
      {{ . }}
    </div>
    {{ end }}

    {{ with .Params.year }}
    <div>
      <strong>Date (Creation/Broadcast)</strong><br>
      {{ . }}
    </div>
    {{ end }}

    {{ with .Params.media_type }}
    <div>
      <strong>Item Type</strong><br>
      {{ range . }}{{ . }} {{ end }}
    </div>
    {{ end }}

    {{ with .Params.collection }}
    <div>
      <strong>Collection</strong><br>
      {{ . }}
    </div>
    {{ end }}

    {{ with .Params.status }}
    <div>
      <strong>Processing Status</strong><br>
      {{ . }}
    </div>
    {{ end }}

    {{ with .Params.condition }}
    <div>
      <strong>Condition</strong><br>
      {{ . }}
    </div>
    {{ end }}

    {{ with .Params.source }}
    <div>
      <strong>Source / Donor</strong><br>
      {{ . }}
    </div>
    {{ end }}

    {{ with .Params.rights }}
    <div>
      <strong>Rights Status</strong><br>
      {{ . }}
    </div>
    {{ end }}

    {{ with .Params.access_level }}
    <div>
      <strong>Access Level</strong><br>
      {{ . }}
    </div>
    {{ end }}

    {{ with .Params.physical_location }}
    <div>
      <strong>Physical Location</strong><br>
      {{ . }}
    </div>
    {{ end }}

    {{ with .Params.digital_location }}
    <div>
      <strong>Digital Location</strong><br>
      {{ . }}
    </div>
    {{ end }}

    {{ with .Params.restrictions }}
    <div class="span-2">
      <strong>Restrictions</strong><br>
      {{ . }}
    </div>
    {{ end }}

    {{ with .Params.people }}
    <div class="span-2">
      <strong>Associated Entities</strong><br>
      {{ range $index, $person := . }}
        {{ if $index }}, {{ end }}{{ $person }}
      {{ end }}
    </div>
    {{ end }}

  </div>

</div>

<div class="accession-content">
  {{ .Content }}
</div>

{{ end }}
